body {
  padding-top: 20px;
  padding-bottom: 20px; }

header {
  padding-left: 15px;
  padding-right: 15px; }
  header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

main {
  text-align: center; }
